In [1]:
import numpy as np
import pandas as pd
df = pd.read_excel('alima.xlsx')
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Monitoring human development: enlarging people's choices …,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,3 Human and income poverty Developing countries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Probability at birth of not surviving to age 4...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Adult illiteracy rateb,†\n(% aged 15 and older...",...,HPI-1 rank minus income poverty rankc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,Human poverty index (H...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,Rank,NaN,Value \n (%),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#mettons l'en tête à partir de la ligne 7
df = pd.read_excel('alima.xlsx', header = 7)
#suppression des lignes et des colonnes vides(axis = 0 ==> pour ligne et axis = 1 ==> pour colonne)
df = df.dropna(how = "all", axis = 1)
df = df.dropna(how = "all", axis = 0).reset_index(drop = True)
df.head(12)
#reset_index pour la redéfinition des index étant donnée les lignes et les colonnes supprimées

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,Probability at birth of not surviving to age 4...,NaN,NaN,NaN,NaN,NaN,MDG,NaN,MDG,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Adult illiteracy rateb,†\n(% aged 15 and older...",NaN,Population not using an improved water source†...,NaN,Children under weight for age†\n(% under age 5...,NaN,Population below\n income poverty line\n(%),NaN,NaN,NaN,NaN,NaN,HPI-1 rank minus income poverty rankc
2,NaN,NaN,Human poverty index (H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$1 a day \n1990-2005d,NaN,$2 a day \n1990-2005d,NaN,National poverty line 1990-2004d,NaN,NaN
4,NaN,NaN,Rank,NaN,Value \n (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,21,"Hong Kong, China (SAR)",..,NaN,..,1.5,e,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
7,25,Singapore,7,NaN,5.2,1.8,NaN,7.5,NaN,0,NaN,3,NaN,..,NaN,..,NaN,..,NaN,..
8,26,Korea (Republic of),..,NaN,..,2.5,NaN,1.0,NaN,8,NaN,..,NaN,<2,NaN,<2,NaN,..,NaN,..
9,28,Cyprus,..,NaN,..,2.4,NaN,3.2,NaN,0,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
10,30,Brunei Darussalam,..,NaN,..,3.0,NaN,7.3,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
11,31,Barbados,1,NaN,3.0,3.7,NaN,..,f,0,NaN,6,"e,g",..,NaN,..,NaN,..,NaN,..

In [3]:
#pour chaque colonne présente dans le dataframe, ajouter les 5 premières cellules de la colonne si elle ne sont pas vide dans une sous liste qui sera intégrée à la grande liste "columns" pour en faire une liste de liste
columns = []
for c in df.columns:
    columns.append([str(v) for v in df[c][:5] if pd.notnull(v)])
columns

[['HDI rank'],
 [],
 ['Human poverty index                         (HPI-1)', 'Rank'],
 [],
 ['Value \n (%)'],
 ['Probability at birth of not surviving to age 40a,†\n(% of cohort)\n2000-05'],
 [],
 ['Adult illiteracy rateb,†\n(% aged 15 and older)\n1995-2005 '],
 [],
 ['Population not using an improved water source†\n(%)\n2004'],
 [],
 ['MDG', 'Children under weight for age†\n(% under age 5)\n1996-2005d '],
 [],
 ['MDG',
  'Population below\n income poverty line\n(%)',
  '$1 a day \n1990-2005d'],
 [],
 ['$2 a day \n1990-2005d '],
 [],
 ['National poverty line           1990-2004d'],
 [],
 ['HPI-1 rank minus income poverty rankc']]

In [4]:
#créer une liste columns qui contiendra les en têtes de notre dataframe comme nous le souhaitons

columns = [
    "HDI_rank",
    "Country",
    "Human_poverty_index(HPI-1)-rank",
    "references_1",
    "Human_poverty_index(HPI-1)-value(percent)",
    "Probability_at_birth_of_not_surviving_to_age_40(percent_of_cohort)2000-05",
    "references_2",
    "Adult_illiteracy_rate(percent_aged_15_and_older)1995-2005",
    "references_3",
    "Population_not_using_an_inmproved_water_source(percent)2004",
    "references_4",
    "Children_under_weigth_for_age(percent_under_age_5)1996-2005",
    "references_5",
    "Population_below_income_poverty_line(percent)-one_dollarUS_a_day_1990-2005",
    "references_6",
    "Population_below_income_poverty_line(percent)-two_dollarUS_a_day_1990-2005",
    "references_7",
    "Population_below_income_poverty_line(percent)-National_poverty_line_1990-2004",
    "references_8",
    "HPI-1_rank_minus_income_poverty_rank"
]
df.columns = columns
#suppression de lignes remplacées et réinitialiser les index
df = df.drop(np.arange(5), axis = 0).reset_index(drop = True)
#np.arrange va créer le tableau suivant : [0,1,2,3,4,5] permettant ainsi de supprimer toutes les lignes(axis = 0) possedants les index du tableau
df.head()

,HDI_rank,Country,Human_poverty_index(HPI-1)-rank,references_1,Human_poverty_index(HPI-1)-value(percent),Probability_at_birth_of_not_surviving_to_age_40(percent_of_cohort)2000-05,references_2,Adult_illiteracy_rate(percent_aged_15_and_older)1995-2005,references_3,Population_not_using_an_inmproved_water_source(percent)2004,references_4,Children_under_weigth_for_age(percent_under_age_5)1996-2005,references_5,Population_below_income_poverty_line(percent)-one_dollarUS_a_day_1990-2005,references_6,Population_below_income_poverty_line(percent)-two_dollarUS_a_day_1990-2005,references_7,Population_below_income_poverty_line(percent)-National_poverty_line_1990-2004,references_8,HPI-1_rank_minus_income_poverty_rank
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21,"Hong Kong, China (SAR)",..,NaN,..,1.5,e,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
2,25,Singapore,7,NaN,5.2,1.8,NaN,7.5,NaN,0,NaN,3,NaN,..,NaN,..,NaN,..,NaN,..
3,26,Korea (Republic of),..,NaN,..,2.5,NaN,1.0,NaN,8,NaN,..,NaN,<2,NaN,<2,NaN,..,NaN,..
4,28,Cyprus,..,NaN,..,2.4,NaN,3.2,NaN,0,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..

In [5]:
df.tail(40)

,HDI_rank,Country,Human_poverty_index(HPI-1)-rank,references_1,Human_poverty_index(HPI-1)-value(percent),Probability_at_birth_of_not_surviving_to_age_40(percent_of_cohort)2000-05,references_2,Adult_illiteracy_rate(percent_aged_15_and_older)1995-2005,references_3,Population_not_using_an_inmproved_water_source(percent)2004,references_4,Children_under_weigth_for_age(percent_under_age_5)1996-2005,references_5,Population_below_income_poverty_line(percent)-one_dollarUS_a_day_1990-2005,references_6,Population_below_income_poverty_line(percent)-two_dollarUS_a_day_1990-2005,references_7,Population_below_income_poverty_line(percent)-National_poverty_line_1990-2004,references_8,HPI-1_rank_minus_income_poverty_rank
117,166,Côte d'Ivoire,92,NaN,40.3,38.6,NaN,51.3,NaN,16,NaN,17,NaN,14.8,NaN,48.8,NaN,..,NaN,29
118,167,Burundi,81,NaN,37.6,38.2,NaN,40.7,NaN,21,NaN,45,NaN,54.6,NaN,87.6,NaN,36.4,NaN,-8
119,168,Congo (Democratic Republic of the),88,NaN,39.3,41.1,NaN,32.8,NaN,54,NaN,31,NaN,..,NaN,..,NaN,..,NaN,..
120,169,Ethiopia,105,NaN,54.9,33.3,NaN,64.1,NaN,78,NaN,38,NaN,23.0,NaN,77.8,NaN,44.2,NaN,27
121,170,Chad,108,NaN,56.9,32.9,NaN,74.3,NaN,58,NaN,37,NaN,..,NaN,..,NaN,64.0,NaN,..
122,171,Central African Republic,98,NaN,43.6,46.2,NaN,51.4,NaN,25,NaN,24,NaN,66.6,NaN,84.0,NaN,..,NaN,-6
123,172,Mozambique,101,NaN,50.6,45.0,NaN,61.3,NaN,57,NaN,24,NaN,36.2,NaN,74.1,NaN,69.4,NaN,12
124,173,Mali,107,NaN,56.4,30.4,NaN,76.0,NaN,50,NaN,33,NaN,36.1,NaN,72.1,NaN,63.8,NaN,18
125,174,Niger,104,NaN,54.7,28.7,NaN,71.3,NaN,54,NaN,40,NaN,60.6,NaN,85.8,NaN,63.0,e,1
126,175,Guinea-Bissau,99,NaN,44.8,40.5,NaN,..,f,41,NaN,25,NaN,..,NaN,..,NaN,..,NaN,..
127,176,Burkina Faso,106,NaN,55.8,26.5,NaN,76.4,NaN,39,NaN,38,NaN,27.2,NaN,71.8,NaN,46.4,NaN,23
128,177,Sierra Leone,102,NaN,51.7,45.6,NaN,65.2,NaN,43,NaN,27,NaN,57.0,e,74.5,e,70.2,NaN,4
129,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,† Denotes indicators used to calculate the hum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,a. Data refer to the probability at birth of n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,SOURCES\nColumn 1: Determined on the basis of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,HPI-1 ranks for 108 developing countries and a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,1,Barbados,22,Turkey,NaN,NaN,45,Tunisia,NaN,68,Morocco,NaN,NaN,89,Angola,NaN,NaN,NaN,NaN,NaN
135,2,Uruguay,23,Brazil,NaN,NaN,46,Nicaragua,NaN,69,Sudan,NaN,NaN,90,Papua New Guinea,NaN,NaN,NaN,NaN,NaN
136,3,Chile,24,Thailand,NaN,NaN,47,Indonesia,NaN,70,Lao People's Democratic Republic,NaN,NaN,91,Zimbabwe,NaN,NaN,NaN,NaN,NaN
137,4,Argentina,25,Suriname,NaN,NaN,48,Egypt,NaN,71,Lesotho,NaN,NaN,92,Côte d'Ivoire,NaN,NaN,NaN,NaN,NaN
138,5,Costa Rica,26,Dominican Republic,NaN,NaN,49,Gabon,NaN,72,Uganda,NaN,NaN,93,Bangladesh,NaN,NaN,NaN,NaN,NaN
139,6,Cuba,27,Mauritius,NaN,NaN,50,Fiji,NaN,73,Swaziland,NaN,NaN,94,Gambia,NaN,NaN,NaN,NaN,NaN
140,7,Singapore,28,Peru,NaN,NaN,51,Algeria,NaN,74,Haiti,NaN,NaN,95,Timor-Leste,NaN,NaN,NaN,NaN,NaN
141,8,Saint Lucia,29,China,NaN,NaN,52,Myanmar,NaN,75,Madagascar,NaN,NaN,96,Zambia,NaN,NaN,NaN,NaN,NaN
142,9,Occupied Palestinian Territories,30,Iran (Islamic Republic of),NaN,NaN,53,Solomon Islands,NaN,76,Eritrea,NaN,NaN,97,Senegal,NaN,NaN,NaN,NaN,NaN
143,10,Mexico,31,Syrian Arab Republic,NaN,NaN,54,Guatemala,NaN,77,Pakistan,NaN,NaN,98,Central African Republic,NaN,NaN,NaN,NaN,NaN
144,11,Jordan,32,Bolivia,NaN,NaN,55,South Africa,NaN,78,Rwanda,NaN,NaN,99,Guinea-Bissau,NaN,NaN,NaN,NaN,NaN
145,12,Trinidad and Tobago,33,Guyana,NaN,NaN,56,Vanuatu,NaN,79,Malawi,NaN,NaN,100,Benin,NaN,NaN,NaN,NaN,NaN
146,13,Qatar,34,Jamaica,NaN,NaN,57,Congo,NaN,80,Nigeria,NaN,NaN,101,Mozambique,NaN,NaN,NaN,NaN,NaN
147,14,Colombia,35,El Salvador,NaN,NaN,58,Namibia,NaN,81,Burundi,NaN,NaN,102,Sierra Leone,NaN,NaN,NaN,NaN,NaN
148,15,Panama,36,Viet Nam,NaN,NaN,59,Djibouti,NaN,82,Yemen,NaN,NaN,103,Guinea,NaN,NaN,NaN,NaN,NaN
149,16,Malaysia,37,Philippines,NaN,NaN,60,Kenya,NaN,83,Togo,NaN,NaN,104,Niger,NaN,NaN,NaN,NaN,NaN
150,17,United Arab Emirates,38,Cape Verde,NaN,NaN,61,Comoros,NaN,84,Nepal,NaN,NaN,105,Ethiopia,NaN,NaN,NaN,NaN,NaN
151,18,Lebanon,39,Sao Tome and Principe,NaN,NaN,62,India,NaN,85,Cambodia,NaN,NaN,106,Burkina Faso,NaN,NaN,NaN,NaN,NaN
152,19,Ecuador,40,Mongolia,NaN,NaN,63,Botswana,NaN,86,Bhutan,NaN,NaN,107,Mali,NaN,NaN,NaN,NaN,NaN
153,20,Paraguay,41,Honduras,NaN,NaN,64,Cameroon,NaN,87,Mauritania,NaN,NaN,108,Chad,NaN,NaN,NaN,NaN,NaN
154,21,Venezuela (Bolivarian Republic of),42,Maldives,NaN,NaN,65,Ghana,NaN,88,Congo (Democratic Republic of the),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,NaN,NaN,43,Belize,NaN,NaN,66,Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,NaN,NaN,44,Sri Lanka,NaN,NaN,67,Tanzania (United Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#dans cette partie nous allons supprimer toutes les informations qui sont dans les lignes en dessous de notre jeu de donnée c'est à dire après la dernière ligne de données qui nous intéressent
df = df.drop(np.arange(129,len(df)),axis = 0).reset_index(drop = True)
#np.arange va générer un tableau qui commence à la ligne 129 de notre tableau et fini à la fin du dataframe: np.arange(debut(ligne 129), fin(fin de notre fichier))

In [7]:
df

,HDI_rank,Country,Human_poverty_index(HPI-1)-rank,references_1,Human_poverty_index(HPI-1)-value(percent),Probability_at_birth_of_not_surviving_to_age_40(percent_of_cohort)2000-05,references_2,Adult_illiteracy_rate(percent_aged_15_and_older)1995-2005,references_3,Population_not_using_an_inmproved_water_source(percent)2004,references_4,Children_under_weigth_for_age(percent_under_age_5)1996-2005,references_5,Population_below_income_poverty_line(percent)-one_dollarUS_a_day_1990-2005,references_6,Population_below_income_poverty_line(percent)-two_dollarUS_a_day_1990-2005,references_7,Population_below_income_poverty_line(percent)-National_poverty_line_1990-2004,references_8,HPI-1_rank_minus_income_poverty_rank
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21,"Hong Kong, China (SAR)",..,NaN,..,1.5,e,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
2,25,Singapore,7,NaN,5.2,1.8,NaN,7.5,NaN,0,NaN,3,NaN,..,NaN,..,NaN,..,NaN,..
3,26,Korea (Republic of),..,NaN,..,2.5,NaN,1.0,NaN,8,NaN,..,NaN,<2,NaN,<2,NaN,..,NaN,..
4,28,Cyprus,..,NaN,..,2.4,NaN,3.2,NaN,0,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
5,30,Brunei Darussalam,..,NaN,..,3.0,NaN,7.3,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
6,31,Barbados,1,NaN,3.0,3.7,NaN,..,f,0,NaN,6,"e,g",..,NaN,..,NaN,..,NaN,..
7,33,Kuwait,..,NaN,..,2.7,NaN,6.7,NaN,..,NaN,10,NaN,..,NaN,..,NaN,..,NaN,..
8,35,Qatar,13,NaN,7.8,3.7,NaN,11.0,NaN,0,NaN,6,e,..,NaN,..,NaN,..,NaN,..
9,38,Argentina,4,NaN,4.1,4.9,NaN,2.8,NaN,4,NaN,4,NaN,6.6,NaN,17.4,NaN,..,NaN,-14
10,39,United Arab Emirates,17,NaN,8.4,2.1,NaN,11.3,h,0,NaN,14,e,..,NaN,..,NaN,..,NaN,..
11,40,Chile,3,NaN,3.7,3.5,NaN,4.3,NaN,5,NaN,1,NaN,<2,NaN,5.6,NaN,17.0,NaN,1
12,41,Bahrain,..,NaN,..,3.4,NaN,13.5,NaN,..,NaN,9,e,..,NaN,..,NaN,..,NaN,..
13,46,Uruguay,2,NaN,3.5,4.3,NaN,3.2,NaN,0,NaN,5,e,<2,NaN,5.7,NaN,..,NaN,0
14,48,Costa Rica,5,NaN,4.4,3.7,NaN,5.1,NaN,3,NaN,5,NaN,3.3,NaN,9.8,NaN,22.0,NaN,-10
15,49,Bahamas,..,NaN,..,10.6,NaN,..,NaN,3,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
16,50,Seychelles,..,NaN,..,..,NaN,8.2,NaN,12,NaN,6,"e,g",..,NaN,..,NaN,..,NaN,..
17,51,Cuba,6,NaN,4.7,3.1,NaN,..,i,9,NaN,4,NaN,..,NaN,..,NaN,..,NaN,..
18,52,Mexico,10,NaN,6.8,5.8,NaN,8.4,NaN,3,NaN,8,NaN,3.0,NaN,11.6,NaN,17.6,NaN,-7
19,54,Saint Kitts and Nevis,..,NaN,..,..,NaN,2.2,j,0,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
20,55,Tonga,..,NaN,..,5.0,NaN,1.1,NaN,0,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..
21,56,Libyan Arab Jamahiriya,..,NaN,..,4.6,NaN,15.8,h,..,NaN,5,e,..,NaN,..,NaN,..,NaN,..
22,57,Antigua and Barbuda,..,NaN,..,..,NaN,14.2,k,9,NaN,10,"e,g",..,NaN,..,NaN,..,NaN,..
23,58,Oman,..,NaN,..,3.7,NaN,18.6,NaN,..,NaN,18,NaN,..,NaN,..,NaN,..,NaN,..
24,59,Trinidad and Tobago,12,NaN,7.3,9.1,NaN,1.6,h,9,NaN,6,NaN,12.4,NaN,39.0,NaN,21.0,NaN,-19
25,61,Saudi Arabia,..,NaN,..,5.7,NaN,17.1,NaN,..,NaN,14,NaN,..,NaN,..,NaN,..,NaN,..
26,62,Panama,15,NaN,8.0,6.5,NaN,8.1,NaN,10,NaN,8,NaN,7.4,NaN,18.0,NaN,37.3,NaN,-10
27,63,Malaysia,16,NaN,8.3,4.4,NaN,11.3,NaN,1,NaN,11,NaN,<2,NaN,9.3,NaN,15.5,e,9
28,65,Mauritius,27,NaN,11.4,5.1,e,15.7,NaN,0,NaN,15,e,..,NaN,..,NaN,..,NaN,..
29,70,Brazil,23,NaN,9.7,9.2,NaN,11.4,NaN,10,NaN,6,NaN,7.5,NaN,21.2,NaN,21.5,NaN,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,149,Djibouti,59,NaN,28.5,28.6,NaN,..,f,27,NaN,27,NaN,..,NaN,..,NaN,..,NaN,..
100,150,Timor-Leste,95,NaN,41.8,21.2,NaN,49.9,m,42,NaN,46,NaN,..,NaN,..,NaN,..,NaN,..
101,151,Zimbabwe,91,NaN,40.3,57.4,NaN,10.6,h,19,NaN,17,NaN,56.1,NaN,83.0,NaN,34.9,NaN,-4
102,152,Togo,83,NaN,38.1,24.1,NaN,46.8,NaN,48,NaN,25,NaN,..,NaN,..,NaN,32.3,e,..
103,153,Yemen,82,NaN,38.0,18.6,NaN,45.9,h,33,NaN,46,NaN,15.7,NaN,45.2,NaN,41.8,NaN,21
104,154,Uganda,72,NaN,34.7,38.5,NaN,33.2,NaN,40,NaN,23,NaN,..,NaN,..,NaN,37.7,NaN,..
105,155,Gambia,94,NaN,40.9,20.9,NaN,..,f,18,NaN,17,NaN,59.3,NaN,82.9,NaN,57.6,NaN,-4
106,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,156,Senegal,97,NaN,42.9,17.1,NaN,60.7,NaN,24,NaN,17,NaN,17.0,NaN,56.2,NaN,33.4,NaN,28
108,157,Eritrea,76,NaN,36.0,24.1,NaN,..,f,40,NaN,40,NaN,..,NaN,..,NaN,53.0,NaN,..
109,158,Nigeria,80,NaN,37.3,39.0,NaN,30.9,h,52,NaN,29,NaN,70.8,NaN,92.4,NaN,34.1,NaN,-19
110,159,Tanzania (United Republic of),67,NaN,32.5,36.2,NaN,30.6,NaN,38,NaN,22,NaN,57.8,NaN,89.9,NaN,35.7,NaN,-22
111,160,Guinea,103,NaN,52.3,28.6,NaN,70.5,NaN,50,NaN,26,NaN,..,NaN,..,NaN,40.0,NaN,..
112,161,Rwanda,78,NaN,36.5,44.6,NaN,35.1,NaN,26,NaN,23,NaN,60.3,NaN,87.8,NaN,60.3,NaN,-16
113,162,Angola,89,NaN,40.3,46.7,NaN,32.6,NaN,47,NaN,31,NaN,..,NaN,..,NaN,..,NaN,..
114,163,Benin,100,NaN,47.6,27.9,NaN,65.3,NaN,33,NaN,23,NaN,30.9,NaN,73.7,NaN,29.0,NaN,16
115,164,Malawi,79,NaN,36.7,44.4,NaN,35.9,NaN,27,NaN,22,NaN,20.8,NaN,62.9,NaN,65.3,NaN,11
116,165,Zambia,96,NaN,41.8,53.9,NaN,32.0,NaN,42,NaN,20,NaN,63.8,NaN,87.2,NaN,68.0,NaN,-7
117,166,Côte d'Ivoire,92,NaN,40.3,38.6,NaN,51.3,NaN,16,NaN,17,NaN,14.8,NaN,48.8,NaN,..,NaN,29
118,167,Burundi,81,NaN,37.6,38.2,NaN,40.7,NaN,21,NaN,45,NaN,54.6,NaN,87.6,NaN,36.4,NaN,-8
119,168,Congo (Democratic Republic of the),88,NaN,39.3,41.1,NaN,32.8,NaN,54,NaN,31,NaN,..,NaN,..,NaN,..,NaN,..
120,169,Ethiopia,105,NaN,54.9,33.3,NaN,64.1,NaN,78,NaN,38,NaN,23.0,NaN,77.8,NaN,44.2,NaN,27
121,170,Chad,108,NaN,56.9,32.9,NaN,74.3,NaN,58,NaN,37,NaN,..,NaN,..,NaN,64.0,NaN,..
122,171,Central African Republic,98,NaN,43.6,46.2,NaN,51.4,NaN,25,NaN,24,NaN,66.6,NaN,84.0,NaN,..,NaN,-6
123,172,Mozambique,101,NaN,50.6,45.0,NaN,61.3,NaN,57,NaN,24,NaN,36.2,NaN,74.1,NaN,69.4,NaN,12
124,173,Mali,107,NaN,56.4,30.4,NaN,76.0,NaN,50,NaN,33,NaN,36.1,NaN,72.1,NaN,63.8,NaN,18
125,174,Niger,104,NaN,54.7,28.7,NaN,71.3,NaN,54,NaN,40,NaN,60.6,NaN,85.8,NaN,63.0,e,1
126,175,Guinea-Bissau,99,NaN,44.8,40.5,NaN,..,f,41,NaN,25,NaN,..,NaN,..,NaN,..,NaN,..
127,176,Burkina Faso,106,NaN,55.8,26.5,NaN,76.4,NaN,39,NaN,38,NaN,27.2,NaN,71.8,NaN,46.4,NaN,23
128,177,Sierra Leone,102,NaN,51.7,45.6,NaN,65.2,NaN,43,NaN,27,NaN,57.0,e,74.5,e,70.2,NaN,4

In [8]:
# transformer la colonne "HDI_rank" en entier(integer)
# Categories
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
# Se débarrasser des rangées avec les catégories HDI
# https://stackoverflow.com/a/27360130 & https://stackoverflow.com/a/12098586
df = df.drop(df[df["HDI_rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)
# Référence pour np.where https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html
# Pensez que cela ressemble à une déclaration du type "if" : where(test est vrai, vrai-quelque chose, faux-quelque chose)
# ceci peut aussi être imbriqué : where(test is true, true-thing, where(new-test is true, true-thing, false-thing))
# transformer la colonne "HDI_rank" en entier(integer)
df["HDI_rank"] = pd.to_numeric(df["HDI_rank"])
df.loc[:, "HDI_category"] = np.where(df["HDI_rank"] > 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI_rank"] > 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI_rank", inplace=True)
df.head()

,HDI_rank,Country,Human_poverty_index(HPI-1)-rank,references_1,Human_poverty_index(HPI-1)-value(percent),Probability_at_birth_of_not_surviving_to_age_40(percent_of_cohort)2000-05,references_2,Adult_illiteracy_rate(percent_aged_15_and_older)1995-2005,references_3,Population_not_using_an_inmproved_water_source(percent)2004,...,Children_under_weigth_for_age(percent_under_age_5)1996-2005,references_5,Population_below_income_poverty_line(percent)-one_dollarUS_a_day_1990-2005,references_6,Population_below_income_poverty_line(percent)-two_dollarUS_a_day_1990-2005,references_7,Population_below_income_poverty_line(percent)-National_poverty_line_1990-2004,references_8,HPI-1_rank_minus_income_poverty_rank,HDI_category
0,21,"Hong Kong, China (SAR)",..,NaN,..,1.5,e,..,NaN,..,...,..,NaN,..,NaN,..,NaN,..,NaN,..,HIGH HUMAN DEVELOPMENT
1,25,Singapore,7,NaN,5.2,1.8,NaN,7.5,NaN,0,...,3,NaN,..,NaN,..,NaN,..,NaN,..,HIGH HUMAN DEVELOPMENT
2,26,Korea (Republic of),..,NaN,..,2.5,NaN,1.0,NaN,8,...,..,NaN,<2,NaN,<2,NaN,..,NaN,..,HIGH HUMAN DEVELOPMENT
3,28,Cyprus,..,NaN,..,2.4,NaN,3.2,NaN,0,...,..,NaN,..,NaN,..,NaN,..,NaN,..,HIGH HUMAN DEVELOPMENT
4,30,Brunei Darussalam,..,NaN,..,3.0,NaN,7.3,NaN,..,...,..,NaN,..,NaN,..,NaN,..,NaN,..,HIGH HUMAN DEVELOPMENT

In [9]:
#supprimer eventuellement les colonnes de references
for i in range(8):
    df = df.drop(columns = f'references_{i+1}', axis = 1)

In [10]:
df

,HDI_rank,Country,Human_poverty_index(HPI-1)-rank,Human_poverty_index(HPI-1)-value(percent),Probability_at_birth_of_not_surviving_to_age_40(percent_of_cohort)2000-05,Adult_illiteracy_rate(percent_aged_15_and_older)1995-2005,Population_not_using_an_inmproved_water_source(percent)2004,Children_under_weigth_for_age(percent_under_age_5)1996-2005,Population_below_income_poverty_line(percent)-one_dollarUS_a_day_1990-2005,Population_below_income_poverty_line(percent)-two_dollarUS_a_day_1990-2005,Population_below_income_poverty_line(percent)-National_poverty_line_1990-2004,HPI-1_rank_minus_income_poverty_rank,HDI_category
0,21,"Hong Kong, China (SAR)",..,..,1.5,..,..,..,..,..,..,..,HIGH HUMAN DEVELOPMENT
1,25,Singapore,7,5.2,1.8,7.5,0,3,..,..,..,..,HIGH HUMAN DEVELOPMENT
2,26,Korea (Republic of),..,..,2.5,1.0,8,..,<2,<2,..,..,HIGH HUMAN DEVELOPMENT
3,28,Cyprus,..,..,2.4,3.2,0,..,..,..,..,..,HIGH HUMAN DEVELOPMENT
4,30,Brunei Darussalam,..,..,3.0,7.3,..,..,..,..,..,..,HIGH HUMAN DEVELOPMENT
5,31,Barbados,1,3.0,3.7,..,0,6,..,..,..,..,HIGH HUMAN DEVELOPMENT
6,33,Kuwait,..,..,2.7,6.7,..,10,..,..,..,..,HIGH HUMAN DEVELOPMENT
7,35,Qatar,13,7.8,3.7,11.0,0,6,..,..,..,..,HIGH HUMAN DEVELOPMENT
8,38,Argentina,4,4.1,4.9,2.8,4,4,6.6,17.4,..,-14,HIGH HUMAN DEVELOPMENT
9,39,United Arab Emirates,17,8.4,2.1,11.3,0,14,..,..,..,..,HIGH HUMAN DEVELOPMENT
10,40,Chile,3,3.7,3.5,4.3,5,1,<2,5.6,17.0,1,HIGH HUMAN DEVELOPMENT
11,41,Bahrain,..,..,3.4,13.5,..,9,..,..,..,..,HIGH HUMAN DEVELOPMENT
12,46,Uruguay,2,3.5,4.3,3.2,0,5,<2,5.7,..,0,HIGH HUMAN DEVELOPMENT
13,48,Costa Rica,5,4.4,3.7,5.1,3,5,3.3,9.8,22.0,-10,HIGH HUMAN DEVELOPMENT
14,49,Bahamas,..,..,10.6,..,3,..,..,..,..,..,HIGH HUMAN DEVELOPMENT
15,50,Seychelles,..,..,..,8.2,12,6,..,..,..,..,HIGH HUMAN DEVELOPMENT
16,51,Cuba,6,4.7,3.1,..,9,4,..,..,..,..,HIGH HUMAN DEVELOPMENT
17,52,Mexico,10,6.8,5.8,8.4,3,8,3.0,11.6,17.6,-7,HIGH HUMAN DEVELOPMENT
18,54,Saint Kitts and Nevis,..,..,..,2.2,0,..,..,..,..,..,HIGH HUMAN DEVELOPMENT
19,55,Tonga,..,..,5.0,1.1,0,..,..,..,..,..,HIGH HUMAN DEVELOPMENT
20,56,Libyan Arab Jamahiriya,..,..,4.6,15.8,..,5,..,..,..,..,HIGH HUMAN DEVELOPMENT
21,57,Antigua and Barbuda,..,..,..,14.2,9,10,..,..,..,..,HIGH HUMAN DEVELOPMENT
22,58,Oman,..,..,3.7,18.6,..,18,..,..,..,..,HIGH HUMAN DEVELOPMENT
23,59,Trinidad and Tobago,12,7.3,9.1,1.6,9,6,12.4,39.0,21.0,-19,HIGH HUMAN DEVELOPMENT
24,61,Saudi Arabia,..,..,5.7,17.1,..,14,..,..,..,..,HIGH HUMAN DEVELOPMENT
25,62,Panama,15,8.0,6.5,8.1,10,8,7.4,18.0,37.3,-10,HIGH HUMAN DEVELOPMENT
26,63,Malaysia,16,8.3,4.4,11.3,1,11,<2,9.3,15.5,9,HIGH HUMAN DEVELOPMENT
27,65,Mauritius,27,11.4,5.1,15.7,0,15,..,..,..,..,HIGH HUMAN DEVELOPMENT
28,70,Brazil,23,9.7,9.2,11.4,10,6,7.5,21.2,21.5,-6,HIGH HUMAN DEVELOPMENT
29,71,Dominica,..,..,..,12.0,3,5,..,..,..,..,MEDIUM HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,148,Kenya,60,30.8,35.1,26.4,39,20,22.8,58.3,52.0,-4,MEDIUM HUMAN DEVELOPMENT
97,149,Djibouti,59,28.5,28.6,..,27,27,..,..,..,..,MEDIUM HUMAN DEVELOPMENT
98,150,Timor-Leste,95,41.8,21.2,49.9,42,46,..,..,..,..,MEDIUM HUMAN DEVELOPMENT
99,151,Zimbabwe,91,40.3,57.4,10.6,19,17,56.1,83.0,34.9,-4,MEDIUM HUMAN DEVELOPMENT
100,152,Togo,83,38.1,24.1,46.8,48,25,..,..,32.3,..,MEDIUM HUMAN DEVELOPMENT
101,153,Yemen,82,38.0,18.6,45.9,33,46,15.7,45.2,41.8,21,MEDIUM HUMAN DEVELOPMENT
102,154,Uganda,72,34.7,38.5,33.2,40,23,..,..,37.7,..,MEDIUM HUMAN DEVELOPMENT
103,155,Gambia,94,40.9,20.9,..,18,17,59.3,82.9,57.6,-4,MEDIUM HUMAN DEVELOPMENT
104,156,Senegal,97,42.9,17.1,60.7,24,17,17.0,56.2,33.4,28,LOW HUMAN DEVELOPMENT
105,157,Eritrea,76,36.0,24.1,..,40,40,..,..,53.0,..,LOW HUMAN DEVELOPMENT
106,158,Nigeria,80,37.3,39.0,30.9,52,29,70.8,92.4,34.1,-19,LOW HUMAN DEVELOPMENT
107,159,Tanzania (United Republic of),67,32.5,36.2,30.6,38,22,57.8,89.9,35.7,-22,LOW HUMAN DEVELOPMENT
108,160,Guinea,103,52.3,28.6,70.5,50,26,..,..,40.0,..,LOW HUMAN DEVELOPMENT
109,161,Rwanda,78,36.5,44.6,35.1,26,23,60.3,87.8,60.3,-16,LOW HUMAN DEVELOPMENT
110,162,Angola,89,40.3,46.7,32.6,47,31,..,..,..,..,LOW HUMAN DEVELOPMENT
111,163,Benin,100,47.6,27.9,65.3,33,23,30.9,73.7,29.0,16,LOW HUMAN DEVELOPMENT
112,164,Malawi,79,36.7,44.4,35.9,27,22,20.8,62.9,65.3,11,LOW HUMAN DEVELOPMENT
113,165,Zambia,96,41.8,53.9,32.0,42,20,63.8,87.2,68.0,-7,LOW HUMAN DEVELOPMENT
114,166,Côte d'Ivoire,92,40.3,38.6,51.3,16,17,14.8,48.8,..,29,LOW HUMAN DEVELOPMENT
115,167,Burundi,81,37.6,38.2,40.7,21,45,54.6,87.6,36.4,-8,LOW HUMAN DEVELOPMENT
116,168,Congo (Democratic Republic of the),88,39.3,41.1,32.8,54,31,..,..,..,..,LOW HUMAN DEVELOPMENT
117,169,Ethiopia,105,54.9,33.3,64.1,78,38,23.0,77.8,44.2,27,LOW HUMAN DEVELOPMENT
118,170,Chad,108,56.9,32.9,74.3,58,37,..,..,64.0,..,LOW HUMAN DEVELOPMENT
119,171,Central African Republic,98,43.6,46.2,51.4,25,24,66.6,84.0,..,-6,LOW HUMAN DEVELOPMENT
120,172,Mozambique,101,50.6,45.0,61.3,57,24,36.2,74.1,69.4,12,LOW HUMAN DEVELOPMENT
121,173,Mali,107,56.4,30.4,76.0,50,33,36.1,72.1,63.8,18,LOW HUMAN DEVELOPMENT
122,174,Niger,104,54.7,28.7,71.3,54,40,60.6,85.8,63.0,1,LOW HUMAN DEVELOPMENT
123,175,Guinea-Bissau,99,44.8,40.5,..,41,25,..,..,..,..,LOW HUMAN DEVELOPMENT
124,176,Burkina Faso,106,55.8,26.5,76.4,39,38,27.2,71.8,46.4,23,LOW HUMAN DEVELOPMENT
125,177,Sierra Leone,102,51.7,45.6,65.2,43,27,57.0,74.5,70.2,4,LOW HUMAN DEVELOPMENT

In [11]:
destination = "HDR_2007-2008_DialloAlima_03.csv"
# `index=False` signifie que nous n'allons pas garder cette colonne d'index - elle sera recréée lorsque nous ouvrirons le fichier à l'avenir
df.to_csv(destination, index=False)